# common
.DS_Store
node_modules/*
!node_modules/@ffmpeg-installer
!node_modules/@ffprobe-installer
out/
cache/
**/temp/
dist/
temp/

# ide, framework or git
.cache
.idea
.vscode

# related to webpack or bower
src/*_build

# specifics
build/*.exe
*.log
